<!--
  Generated template for the GasMileageDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
  <ion-title>Gas Mileage Detail </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>


    <ion-item text-center color="secondary" >
    Detail  
    </ion-item>
 

    <ion-item >
    <ion-row>
    <ion-col >
     Date
    </ion-col>
    <ion-col >
     {{settingdataarr.gasUnit}}
    </ion-col>
    </ion-row>
  </ion-item>
    <ion-item >
    <ion-row *ngFor="let mile of mileageitemssave" >
    <ion-col *ngIf="mile.indexNumbermileage == indexonMileage">
    {{mile.mileageDate}}
    </ion-col>
    <ion-col *ngIf="mile.indexNumbermileage == indexonMileage">
    {{mile.mileageFuel}}
    </ion-col>
    </ion-row>
    </ion-item>


  </ion-card>



  <ion-buttons end>
   <button ion-button icon-only style="padding-left: 8px" (click)="gotosetgasmileage()">Add<ion-icon name="add-circle">
   </ion-icon></button>
  </ion-buttons>

</ion-content>
