page-gas-mileage-detail {

    .scoretwo{
    color: secondary;
    }

    .backg {
        background-color: springgreen;
        color: #ffff
      }
      .colColor{
        color: #ffff
      }
  
}
