<!--
  Generated template for the GasMileageDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
      <ion-buttons end>
          <button ion-button icon-only (click) = "gotoSettingPage()" >
          <ion-icon name="settings"></ion-icon>
          </button>
          </ion-buttons>
     <ion-title text-center>Gas Mileage Detail </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
      <ion-row class="backg" style="width:100%;font-size: 1.8rem; margin-top:5%;">
        <ion-col text-center>
          Date
        </ion-col>
        <ion-col *ngIf="settingDataMileage.gasUnit != Null" text-center>
          {{settingDataMileage.gasUnit}}
        </ion-col>
        <ion-col *ngIf="settingDataMileage.currencyType != Null" text-center >
          {{currency}}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let mile of mileageItemsSave"  (click)="editMileage(mile)" style="width:100%; margin-top:3%;">
        <ion-col *ngIf="mile.indexNumbermileage == relationNumber" text-center>
          {{mile.mileageDate}}
        </ion-col>
        <ion-col *ngIf="mile.indexNumbermileage == relationNumber" text-center>
          {{mile.mileageFuel}}
        </ion-col>
        <ion-col *ngIf="mile.indexNumbermileage == relationNumber" text-center>
          {{mile.mileageCost}}
        </ion-col>
      </ion-row>
  <ion-row>
    <ion-col class="twoTopPadding">
      <button ion-button full  style="height: 3.5rem;font-size: 1.4rem;font-weight: 100;text-transform: uppercase;border-radius: 25px; border-right-width: 1px; border-left-width: 1px" (click)="gotosetgasmileage()">Add </button>
    </ion-col>
  </ion-row>

</ion-content>
