page-edit-mileage {
  //form css//
  .page-main{
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0 auto;
    }
    .page-main{
     background: url(../assets/imgs/main-bg.png) no-repeat;
     background-size: cover;
     height: 100%;
     width: 100%;
     background-position: 80% 20%;
    }
    .card-img-overlay{
      background: url(../assets/imgs/Layout.png) no-repeat center right;
      background-size: cover;
      height: 100%;
      width: 75%;
      margin: 0 auto;
      margin-top: 1.5rem;
   }
   .card-img-overlay {
     position: relative;
     top: 0;
     right: 0;
     bottom: 0;
     left: 12%;
     padding: 1.25rem; 
     display: flex;
     justify-content: left;
     height: 475px;
   }
    .title {
     text-transform: uppercase;
     text-align: center;
     margin-bottom: 0;
     color: #FF8F00;
     font-weight: 300;
     font-size: 24px;
     letter-spacing: 1px;
    }
    .img-container {
     text-align: center;
    }
    .img-container img{
     height: 90px;
    }
    .description {
     text-align: center;
     color: #666;
     margin-bottom: 30px;
    }
    .form .thumbnail {
       width: 150px;
       height: 150px;
       margin: 0 auto;
    }
    .form .thumbnail img {
     display: block;
     width: 100%;
    }
    .form select,
    .form input {
     outline: 0;
     background: #f2f2f2;
     width: 100%;
     border: 0;
     margin: 0;
     padding: 15px;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
     box-sizing: border-box;
     font-size: 14px;
    }
    .form button {
       margin-top: 2rem;
       float: right;
    }
    .btn{
      outline: 0;
      border: 0;
      padding: 25px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      color: #FFFFFF;
      font-size: 18px;
      line-height: 1.2;
      cursor: pointer;
      width: fit-content;
    }
    .btn-primary{
     background:#9c1b30;
    }
    .form .message {
     margin: 15px 0 0;
     color: #b3b3b3;
     font-size: 12px;
    }
    .form .message a {
     color: #EF3B3A;
     text-decoration: none;
    }
    
    .text-white
    {
      color: white;
      font-size: 18px;
      font-weight: 800;
    }
    
    .toolbar-md {
      padding: 4px;
      min-height: 62px;
    }
    
    .toolbar-title-md {
     text-align: left
    }
    
    ion-input, ion-textarea {
      width: 100%;
    }
    .form{
      width: 100%;
    }
    .btn-block{
      position: absolute;
      top: 100%;
      display: flex;
      left: 5%;
    }
    .button-inner {
      text-transform: capitalize;
    }

    .form select,
    .form input,
    .form
    .inputDate {
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 5px;
      padding: 15px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-sizing: border-box;
      font-size: 14px;
}

    .text-left
    {
      text-align: left;
      font-size: 1.5rem;
    }
    
    .mtb-8
    {
      margin: 8px 8px 13px 0;
    }

    .mt-4{
      margin-top: 2rem;
      float: right;
      background: #005596;
    }

  }
