page-disclaimer {
    .page-main{
        min-height: 100%;
        font-family: "Roboto", sans-serif;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 10px;
        }
        .page-main{
         background: url(../assets/imgs/main-bg.png) no-repeat;
         background-size: cover;
         height: 100%;
         width: 100%;
         background-position: 80% 20%;
        }

        .item-md {
            background-color: transparent; 
        }

        ion-img {
            display: table;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            background: none;
        }
}
