<!--
  Generated template for the AddItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="black">
    <ion-buttons end>
      <button ion-button icon-only (click)="gotoSettingPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-icon (click)="dismissing()" style="font-size:1em;margin-right:7%" name="arrow-back"></ion-icon>New Vehicle
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-main">


    <section>
      <div class="card-img-overlay">
          <div class="form">
              <form class="login-form">
                  <div class="d-flex flex-column">
                      <ion-label class="text-white">Make  <span style="font-size: 1.5rem">(i.e Suzuki, Honda, Toyota)</span></ion-label>
                      <ion-input type="text" name="make" [(ngModel)]="carMake"></ion-input>
                  </div>
                  <div class="d-flex flex-column">
                      <ion-label class="text-white">Model   <span style="font-size: 1.5rem">(i.e Ciaz, Civic, Prius)</span></ion-label>
                      <ion-input type="text" name="model" [(ngModel)]="carModel"></ion-input>
                  </div>
                  <div class="d-flex flex-column">
                    <ion-label class="text-white">Year</ion-label>
                    <ion-input type="number" name="year" [(ngModel)]="carYear"></ion-input>
                </div>
                <div class="d-flex flex-column">
                    <ion-label class="text-white">Mileage</ion-label>
                    <ion-input type="number" name="mileage" [(ngModel)]="carMileage"></ion-input>
                </div>
                <!-- <button ion-button class='mt-4' (click)="saveInformation()">Save Record</button> -->
                <button ion-button (click)="gotoAddMaintenanceRecordPage()" class="btn-brown btn btn-primary" >Add <br> Maintenance</button>
                <button ion-button (click)="gotoAddMileageRecordPage()"  class="btn-brown btn btn-primary">Add  <br> Consumption</button>
              </form>
            </div>
      </div>
  </section>

  <ion-card *ngIf="this.carMaintenanceDetailLength > 0">
    <ion-card-header style="text-align: center;background:#9C1B30; color: white">
      Maintenance History
    </ion-card-header>
    <ion-card-content>
      <ion-row style="color:#9C1B30; border: 1px solid #e0dbdb">
        <ion-col style="border: 1px solid #e0dbdb">Item</ion-col>
        <ion-col style="border: 1px solid #e0dbdb">Date</ion-col>
        <ion-col style="border: 1px solid #e0dbdb">{{currencyPreference}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let record of carMaintenanceDetail">
        <ion-col style="border: 1px solid #e0dbdb">{{record.maintenanceItem}}</ion-col>
        <ion-col style="border: 1px solid #e0dbdb">{{record.maintenanceDateString }}</ion-col>
        <ion-col style="border: 1px solid #e0dbdb">{{record.maintenanceCost}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card *ngIf="this.carMileageDetailLength > 0">
    <ion-card-header style="text-align: center;background:#9C1B30; color: white">
        Consumption History
    </ion-card-header>
    <ion-card-content>
      <ion-row style="color:#9C1B30; border: 1px solid #e0dbdb">
        <ion-col style="border: 1px solid #e0dbdb">{{gasUnit}}</ion-col>
        <ion-col style="border: 1px solid #e0dbdb">Date</ion-col>
        <ion-col style="border: 1px solid #e0dbdb">{{currencyPreference}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let record of carMileageDetail">
        <ion-col style="border: 1px solid #e0dbdb">{{record.mileageLitre}}</ion-col>
        <ion-col style="border: 1px solid #e0dbdb">{{record.mileageDateString}}</ion-col>
        <ion-col style="border: 1px solid #e0dbdb">{{record.mileageCost}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <div class='btn-save'>
   <button ion-button (click)="saveInformation()">Save Record</button>
  </div>

</ion-content>