page-add-item {
  .settingButton {
    background: #32db64;
    text-align: center;
    padding: 0;
    color: white;
  }
  .col {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
